{% load bootstrap3 %}
<html>
<head>
  <title>
    Foundation for Learning Equality - Movie App
  </title>
  <link rel="stylesheet" href="/static/starter/bootswatch/cerulean/bootstrap.css" />
  <link rel="stylesheet" href="/static/starter/jquery-ui.theme.min.css" />
  <script src="/static/starter/jquery-2.2.0.min.js"></script>
  <script src="/static/starter/jquery-ui.min.js"></script>
</head>
<body>
  {% bootstrap_javascript %}
  {% load static%}

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <a class="navbar-brand" href="{% url 'index' %}">
            <img class="brand" 
            src="{% static "starter/images/brand.png" %}"
            title="Learning Equality - Movie App Home"
            alt="Learning Equality - Movie App">
          </a></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'about' %}">About</a></li>
                <li class="divider"></li>
                <li><a href="https://learningequality.org/">Learning Equality</a></li>
                <li class="divider"></li>
                <li><a href="https://sway.com/vaVKJR7QKBDZVNGJ">Patrick Murphy's Portfolio</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search" 
          action="{% url 'search' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input id="autocomplete" type="text" name="userinput" class="form-control" 
            placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Find</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block content %}
  This could be the start of a beautiful program!
  {% endblock %}

  <script>
  // Script for jQueryUI autocomplete functionality
  $(document).ready(function() {
    jQuery.ui.autocomplete.prototype._resizeMenu = function () {
      var ul = this.menu.element;
      ul.outerWidth(this.element.outerWidth());
    }

    var availableTags = {{ movie_titles_list|safe }};

    $( "#autocomplete" ).autocomplete({
      source: availableTags
    });

    $( "#menu" ).menu();

    // Hover states on the static widgets
    $( "#dialog-link, #icons li" ).hover(
      function() {
        $( this ).addClass( "ui-state-hover" );
      },
      function() {
        $( this ).removeClass( "ui-state-hover" );
      }
      );
  });
  </script>
</body>
</html>
